@CHARSET "UTF-8";

html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: Helvetica; }
#map_canvas { height: 100% }
      

#dropbox { width: 500px; height: 100px; background-color:#ddd; border-radius:10px; position:absolute; top: 10px; left:10px;}
#droplabel { color: white; }

#timeline {position:absolute; top:50px; left:100px; width: 1000px; height: 500px;display:none}
#marker {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#masks {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#overview {position:absolute;top:500px;left:20px;height:250px;width:500px;display:none}
#connectionLines {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#calender {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#calender {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}

#slider {position:absolute;top:200px;left:600px;}


/* bubble */

.map_container {background-color:#eee;position:absolute;opacity:0}
.map_canvas {position:absolute}
.map_mask_circle{position:absolute}
.map_mask_bottom{position:absolute; background-color:white}
.map_border{position:absolute;border:2px solid #555555}

.sliderLine {stroke-width: 2px; fill: #fff}
.sliderButton {stroke-width: 2px; fill: #fff}
.sliderValueDisplay {stroke: #cc0000}
.sliderMark {fill: #000}


