@CHARSET "UTF-8";

html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: Helvetica; }
#map_canvas { height: 100% }
      

#dropbox { width: 500px; height: 100px; background-color:#ddd; border-radius:10px; position:absolute; top: 10px; left:10px;}
#droplabel { color: white; }

#timeline {position:absolute; top:50px; left:100px; width: 1000px; height: 500px;display:none}
#marker {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#masks {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#overview {position:absolute;top:500px;left:20px;height:250px;width:500px;display:none}
#connectionLines {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}
#calender {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}

#interactionArea {position:absolute;top:0px;left:0px;height:100%;width:100%;display:none}

#slider {position:absolute;top:45px;left:1200px;}
#minimap {position:absolute;top:500px;left:720px;width:200px;height:100px;}



/* bubble */

.map_container {background-color:#eee;position:absolute;opacity:0}
.map_canvas {position:absolute}
.map_mask_circle{position:absolute}
.map_mask_bottom{position:absolute; background-color:white}
.map_border{position:absolute;border:2px solid #555555}

.sliderLine {stroke-width: 1px; stroke: #777; fill:none; width: 1px}
.sliderButton {stroke-width: 1px; fill: #fff; stroke: #777}
.sliderValueDisplay {fill: #000}
.sliderMark {fill: #777; stroke-width: 0}

/* minimap */
.minimapCircle { stroke: #aaa }
.minimapCircle.active { fill: #bbb}
.minimapCircle.inactive { fill: #fff}

.minimapHandle { stroke-width: 1px; stroke: #777; fill: #fff; width: 1px}

.minimapHandleLine { stroke:#777; fill: none; opacity:0.5; stroke-dasharray: 9, 5;}
.minimapHandleBar { stroke:#ccc; fill:#fff; opacity:0.5}
